@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brown: #A77D53;
  --green: #89B448;
  --cream: #F0EDDF;
  --white: #fff;
  --black: #000;
}

h1, h2, p{
  color: var(--black);
}

h1{
  font-size: 5em;
  font-weight: 800;
}

h2{
  font-size: 2em;
  font-weight: 400;
}

p{
  font-size: 1em;
  font-weight: 400;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: var(--cream);
}


.btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.green{
  background: var(--green);
}

.brown{
  background: var(--brown);
}

.container-about{
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  background: var(--cream);
  border: unset;
}

.container-text p{
  width: 40vw;
}

.center-right{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  height: 90vh;
}

.center-left{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}



.container-img img{
  max-height: 60vh;
}


@media (max-width: 400px) {
  h1{
    font-size: 2em;
    font-weight: 800;
  }
  
  h2{
    font-size: 1em;
    font-weight: 400;
  }
  
  p{
    font-size: 1em;
    font-weight: 400;
  }

  .container-img img{
    max-height: 40vh;
  }


}

@media (max-width: 600px) {
  h1{
    font-size: 2em;
    font-weight: 800;
  }
  
  h2{
    font-size: 1em;
    font-weight: 400;
  }
  
  p{
    font-size: 0.5em;
    font-weight: 400;
  }

  .container-img img{
    max-height: 50vh;
  }
  
}


@media (max-width: 768px) {

  .container-text p{
    width: unset;
  }
  

  .container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0vh;

  }


  .center-right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: unset;
  }
  
  .center-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
  }



  .container-about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: unset;
  }


  h1{
    font-size: 3em;
    font-weight: 800;
  }
  
  h2{
    font-size: 1.5em;
    font-weight: 400;
  }
  
  p{
    font-size: 1em;
    font-weight: 400;
  }

  .container-img img{
    max-height: 40vh;
  }
}
